openapi: 3.2.0
info:
  title: Refinitiv Eikon Refinitiv Data Platform Symbology API
  description: RESTful APIs providing access to Refinitiv's comprehensive financial data including pricing, ESG data, news, research, alternative data, and streaming services. The platform serves as the central hub for programmatic access to LSEG content. Uses OAuth 2.0 for authentication with access tokens obtained via the token endpoint.
  version: 1.0.0
  contact:
    name: LSEG Developer Support
    url: https://developers.lseg.com
  termsOfService: https://www.refinitiv.com/en/policies/terms-of-use
servers:
- url: https://api.refinitiv.com
  description: Production Server
security:
- bearerAuth: []
tags:
- name: Symbology
  description: Instrument identifier concordance and navigation
paths:
  /discovery/symbology/v1/lookup:
    post:
      operationId: lookupSymbology
      summary: Look Up Instrument Symbology
      description: Maps between different instrument identifier types. Supports concordance from external identifiers such as ISIN, CUSIP, SEDOL, and ticker to LSEG PermIDs and RICs. Enables navigation between a wide range of identifier types.
      tags:
      - Symbology
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SymbologyLookupRequest'
      responses:
        '200':
          description: Successfully resolved identifiers
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SymbologyLookupResponse'
        '400':
          description: Invalid request parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Error:
      type: object
      description: Standard error response from the Refinitiv Data Platform.
      properties:
        error:
          type: object
          properties:
            id:
              type: string
              description: Unique error identifier.
            code:
              type: string
              description: Machine-readable error code.
            message:
              type: string
              description: Human-readable error message.
            status:
              type: object
              description: HTTP status information.
              properties:
                code:
                  type: integer
                  description: HTTP status code.
                message:
                  type: string
                  description: HTTP status message.
    SymbologyLookupResponse:
      type: object
      description: Response containing resolved instrument identifiers.
      properties:
        data:
          type: array
          description: Array of resolved identifier results.
          items:
            type: object
            properties:
              input:
                type: string
                description: Input identifier value.
              output:
                type: array
                description: Resolved identifier mappings.
                items:
                  type: object
                  additionalProperties:
                    type: string
    SymbologyLookupRequest:
      type: object
      description: Request body for symbology lookup operations.
      required:
      - from
      - to
      - universe
      properties:
        from:
          type: array
          description: Source identifier type or types.
          items:
            type: object
            properties:
              identifierTypes:
                type: array
                description: List of source identifier types such as ISIN, CUSIP, SEDOL, or Ticker.
                items:
                  type: string
              values:
                type: array
                description: List of identifier values to look up.
                items:
                  type: string
        to:
          type: array
          description: Target identifier types to resolve to.
          items:
            type: object
            properties:
              identifierTypes:
                type: array
                description: List of target identifier types such as RIC, PermID, or ISIN.
                items:
                  type: string
        universe:
          type: array
          description: List of instrument identifiers to resolve.
          items:
            type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 bearer token obtained from the authentication endpoint. Access tokens are valid for five minutes and must be refreshed using the refresh token.
externalDocs:
  description: Refinitiv Data Platform API Documentation
  url: https://developers.lseg.com/en/api-catalog/refinitiv-data-platform/refinitiv-data-platform-apis/documentation
