openapi: 3.2.0
info:
  title: Refinitiv Eikon LSEG DataScope Select REST Report Templates API
  description: REST API providing programmatic access to the DataScope Select platform for extracting global prices, corporate actions, reference data, historical data, cross-reference data, and entity data. Built on OData protocol, the API supports management of instrument lists, report templates, schedules, and on-demand extractions. Authentication tokens are valid for 24 hours.
  version: 1.0.0
  contact:
    name: LSEG Developer Support
    url: https://developers.lseg.com
  termsOfService: https://www.refinitiv.com/en/policies/terms-of-use
servers:
- url: https://selectapi.datascope.refinitiv.com/RestApi/v1
  description: Production Server
security:
- tokenAuth: []
tags:
- name: Report Templates
  description: Configuration of extraction report templates
paths:
  /ReportTemplates:
    get:
      operationId: listReportTemplates
      summary: List Report Templates
      description: Retrieves all report templates owned by the authenticated user. Report templates define the content type and fields for extractions.
      tags:
      - Report Templates
      responses:
        '200':
          description: Successfully retrieved report templates
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    description: Array of report template definitions.
                    items:
                      $ref: '#/components/schemas/ReportTemplate'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Error:
      type: object
      description: Standard error response from the DataScope Select API.
      properties:
        error:
          type: object
          properties:
            code:
              type: string
              description: Machine-readable error code.
            message:
              type: string
              description: Human-readable error message.
    ReportTemplate:
      type: object
      description: Definition of a report template for extractions.
      properties:
        ReportTemplateId:
          type: string
          description: Unique identifier for the report template.
        Name:
          type: string
          description: Human-readable name for the template.
        ContentType:
          type: string
          description: Type of content for the extraction such as EndOfDay or TermsAndConditions.
        ContentFieldNames:
          type: array
          description: List of field names included in the template.
          items:
            type: string
  securitySchemes:
    tokenAuth:
      type: apiKey
      in: header
      name: Authorization
      description: Session token obtained from the RequestToken endpoint. Include as Token followed by the token value.
externalDocs:
  description: DataScope Select REST API Documentation
  url: https://developers.lseg.com/en/api-catalog/datascope-select/datascope-select-rest-api/documentation
