openapi: 3.1.0
info:
  title: Refinitiv Eikon Refinitiv Data Platform APIs Authentication Files API
  description: RESTful APIs providing access to Refinitiv's comprehensive financial data including pricing, ESG data, news, research, alternative data, and streaming services. The platform serves as the central hub for programmatic access to LSEG content. Uses OAuth 2.0 for authentication with access tokens obtained via the token endpoint.
  version: 1.0.0
  contact:
    name: LSEG Developer Support
    url: https://developers.lseg.com
  termsOfService: https://www.refinitiv.com/en/policies/terms-of-use
servers:
- url: https://api.refinitiv.com
  description: Production Server
security:
- bearerAuth: []
tags:
- name: Files
  description: Extracted file management and download
paths:
  /Extractions/ExtractedFiles:
    get:
      operationId: listExtractedFiles
      summary: List Extracted Files
      description: Retrieves a list of files produced by completed tick history extractions. Files are available for download within the retention period.
      tags:
      - Files
      responses:
        '200':
          description: Successfully retrieved file list
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    description: Array of extracted file metadata.
                    items:
                      $ref: '#/components/schemas/ExtractedFile'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /Extractions/ExtractedFiles('{fileId}')/$value:
    get:
      operationId: downloadExtractedFile
      summary: Download an Extracted File
      description: Downloads the raw tick data file by its identifier. Supports gzip compression via the Accept-Encoding header.
      tags:
      - Files
      parameters:
      - name: fileId
        in: path
        required: true
        description: Unique identifier of the extracted file.
        schema:
          type: string
      responses:
        '200':
          description: Successfully downloaded file
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        '404':
          description: File not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Error:
      type: object
      description: Standard error response.
      properties:
        error:
          type: object
          properties:
            code:
              type: string
              description: Machine-readable error code.
            message:
              type: string
              description: Human-readable error message.
    ExtractedFile:
      type: object
      description: Metadata for a file produced by an extraction.
      properties:
        ExtractedFileId:
          type: string
          description: Unique identifier for the extracted file.
        FileName:
          type: string
          description: Name of the extracted file.
        FileType:
          type: string
          description: Type of file such as Full or Note.
        Size:
          type: integer
          description: File size in bytes.
        ReceivedDateUtc:
          type: string
          format: date-time
          description: Timestamp when the file was generated.
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 bearer token obtained from the authentication endpoint. Access tokens are valid for five minutes and must be refreshed using the refresh token.
externalDocs:
  description: Refinitiv Data Platform API Documentation
  url: https://developers.lseg.com/en/api-catalog/refinitiv-data-platform/refinitiv-data-platform-apis/documentation
