openapi: 3.2.0
info:
  title: Refinitiv Eikon Authentication API
  version: 1.0.0
  contact:
    name: LSEG Developer Support
    url: https://developers.lseg.com
  termsOfService: https://www.refinitiv.com/en/policies/terms-of-use
  description: 'Operations tagged Authentication across 3 of this provider''s published API definitions: refinitiv-eikon-data-platform-openapi.yml, refinitiv-eikon-datascope-select-openapi.yml, refinitiv-eikon-tick-history-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.refinitiv.com
  description: Production Server
- url: https://selectapi.datascope.refinitiv.com/RestApi/v1
  description: Production Server
tags:
- name: Authentication
  description: OAuth 2.0 token management for API access
paths:
  /auth/oauth2/v1/token:
    post:
      operationId: getAccessToken
      summary: Obtain Access Token
      description: Authenticates and returns an OAuth 2.0 access token using Resource Owner Password Credentials grant type. Access tokens are valid for five minutes. Subsequent token refreshes should use the refresh token grant type.
      tags:
      - Authentication
      security: []
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
              - grant_type
              - username
              - password
              - client_id
              properties:
                grant_type:
                  type: string
                  description: OAuth 2.0 grant type. Use password for initial authentication, refresh_token for subsequent requests.
                  enum:
                  - password
                  - refresh_token
                username:
                  type: string
                  description: RDP username or machine account identifier.
                password:
                  type: string
                  description: User password for the RDP account.
                client_id:
                  type: string
                  description: Application client identifier provided during app registration.
                refresh_token:
                  type: string
                  description: Refresh token from a previous authentication response. Required when grant_type is refresh_token.
                scope:
                  type: string
                  description: Requested scope of access. Default is trapi.
      responses:
        '200':
          description: Successfully authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenResponse'
        '400':
          description: Invalid request parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Invalid credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    servers:
    - url: https://api.refinitiv.com
      description: Production Server
  /Authentication/RequestToken:
    post:
      operationId: requestToken
      summary: Request Authentication Token
      description: Authenticates user credentials and returns a session token valid for 24 hours. The token must be included in the Authorization header of all subsequent API requests.
      tags:
      - Authentication
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - Credentials
              properties:
                Credentials:
                  type: object
                  required:
                  - Username
                  - Password
                  properties:
                    Username:
                      type: string
                      description: DataScope Select account username.
                    Password:
                      type: string
                      description: DataScope Select account password.
      responses:
        '200':
          description: Successfully authenticated
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: string
                    description: Session token to use in subsequent requests.
        '401':
          description: Invalid credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error_2'
    servers:
    - url: https://selectapi.datascope.refinitiv.com/RestApi/v1
      description: Production Server
components:
  schemas:
    Error:
      type: object
      description: Standard error response from the Refinitiv Data Platform.
      properties:
        error:
          type: object
          properties:
            id:
              type: string
              description: Unique error identifier.
            code:
              type: string
              description: Machine-readable error code.
            message:
              type: string
              description: Human-readable error message.
            status:
              type: object
              description: HTTP status information.
              properties:
                code:
                  type: integer
                  description: HTTP status code.
                message:
                  type: string
                  description: HTTP status message.
    TokenResponse:
      type: object
      description: OAuth 2.0 token response containing the access token and refresh token for subsequent API calls.
      properties:
        access_token:
          type: string
          description: Bearer token for authenticating subsequent API requests.
        refresh_token:
          type: string
          description: Token for obtaining a new access token when the current one expires.
        expires_in:
          type: integer
          description: Number of seconds until the access token expires.
        scope:
          type: string
          description: Scope of access granted by the token.
        token_type:
          type: string
          description: Type of token issued, typically Bearer.
    Error_2:
      type: object
      description: Standard error response from the DataScope Select API.
      properties:
        error:
          type: object
          properties:
            code:
              type: string
              description: Machine-readable error code.
            message:
              type: string
              description: Human-readable error message.
    Error_3:
      type: object
      description: Standard error response.
      properties:
        error:
          type: object
          properties:
            code:
              type: string
              description: Machine-readable error code.
            message:
              type: string
              description: Human-readable error message.
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 bearer token obtained from the authentication endpoint. Access tokens are valid for five minutes and must be refreshed using the refresh token.
    tokenAuth:
      type: apiKey
      in: header
      name: Authorization
      description: Session token obtained from the RequestToken endpoint. Include as Token followed by the token value.
x-refined-from:
- refinitiv-eikon-data-platform-openapi.yml
- refinitiv-eikon-datascope-select-openapi.yml
- refinitiv-eikon-tick-history-openapi.yml
