openapi: 3.1.0
info:
  title: Refinitiv Eikon Refinitiv Data Platform APIs Authentication Instrument Lists API
  description: RESTful APIs providing access to Refinitiv's comprehensive financial data including pricing, ESG data, news, research, alternative data, and streaming services. The platform serves as the central hub for programmatic access to LSEG content. Uses OAuth 2.0 for authentication with access tokens obtained via the token endpoint.
  version: 1.0.0
  contact:
    name: LSEG Developer Support
    url: https://developers.lseg.com
  termsOfService: https://www.refinitiv.com/en/policies/terms-of-use
servers:
- url: https://api.refinitiv.com
  description: Production Server
security:
- bearerAuth: []
tags:
- name: Instrument Lists
  description: Management of instrument lists for extractions
paths:
  /InstrumentLists:
    get:
      operationId: listInstrumentLists
      summary: List Instrument Lists
      description: Retrieves all instrument lists owned by the authenticated user. Instrument lists define the set of instruments for an extraction.
      tags:
      - Instrument Lists
      responses:
        '200':
          description: Successfully retrieved instrument lists
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    description: Array of instrument list definitions.
                    items:
                      $ref: '#/components/schemas/InstrumentList'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      operationId: createInstrumentList
      summary: Create an Instrument List
      description: Creates a new instrument list for use in extractions. The list specifies the instruments to be included in data extraction jobs.
      tags:
      - Instrument Lists
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InstrumentList'
      responses:
        '201':
          description: Instrument list created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InstrumentList'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    InstrumentList:
      type: object
      description: Definition of an instrument list for extractions.
      properties:
        ListId:
          type: string
          description: Unique identifier for the instrument list.
        Name:
          type: string
          description: Human-readable name for the list.
        InstrumentIdentifiers:
          type: array
          description: Array of instrument identifiers in the list.
          items:
            type: object
            properties:
              Identifier:
                type: string
                description: Instrument identifier value.
              IdentifierType:
                type: string
                description: Type of identifier.
    Error:
      type: object
      description: Standard error response from the DataScope Select API.
      properties:
        error:
          type: object
          properties:
            code:
              type: string
              description: Machine-readable error code.
            message:
              type: string
              description: Human-readable error message.
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 bearer token obtained from the authentication endpoint. Access tokens are valid for five minutes and must be refreshed using the refresh token.
externalDocs:
  description: Refinitiv Data Platform API Documentation
  url: https://developers.lseg.com/en/api-catalog/refinitiv-data-platform/refinitiv-data-platform-apis/documentation
