openapi: 3.2.0
info:
  title: Refinitiv Eikon LSEG DataScope Select REST Schedules API
  description: REST API providing programmatic access to the DataScope Select platform for extracting global prices, corporate actions, reference data, historical data, cross-reference data, and entity data. Built on OData protocol, the API supports management of instrument lists, report templates, schedules, and on-demand extractions. Authentication tokens are valid for 24 hours.
  version: 1.0.0
  contact:
    name: LSEG Developer Support
    url: https://developers.lseg.com
  termsOfService: https://www.refinitiv.com/en/policies/terms-of-use
servers:
- url: https://selectapi.datascope.refinitiv.com/RestApi/v1
  description: Production Server
security:
- tokenAuth: []
tags:
- name: Schedules
  description: Scheduled extraction management
paths:
  /Schedules:
    get:
      operationId: listSchedules
      summary: List Extraction Schedules
      description: Retrieves all extraction schedules owned by the authenticated user. Schedules define when and how extractions are automatically executed.
      tags:
      - Schedules
      responses:
        '200':
          description: Successfully retrieved schedules
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    description: Array of schedule definitions.
                    items:
                      $ref: '#/components/schemas/Schedule'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      operationId: createSchedule
      summary: Create an Extraction Schedule
      description: Creates a new extraction schedule that automatically executes extractions at specified times or triggered by events.
      tags:
      - Schedules
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Schedule'
      responses:
        '201':
          description: Schedule created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Schedule'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Error:
      type: object
      description: Standard error response from the DataScope Select API.
      properties:
        error:
          type: object
          properties:
            code:
              type: string
              description: Machine-readable error code.
            message:
              type: string
              description: Human-readable error message.
    Schedule:
      type: object
      description: Definition of an extraction schedule.
      properties:
        ScheduleId:
          type: string
          description: Unique identifier for the schedule.
        Name:
          type: string
          description: Human-readable name for the schedule.
        Recurrence:
          type: object
          description: Recurrence pattern for the schedule.
          properties:
            '@odata.type':
              type: string
              description: OData type for the recurrence pattern.
            IsImmediate:
              type: boolean
              description: Whether the extraction runs immediately.
        ListId:
          type: string
          description: Identifier of the instrument list used by this schedule.
        ReportTemplateId:
          type: string
          description: Identifier of the report template used by this schedule.
  securitySchemes:
    tokenAuth:
      type: apiKey
      in: header
      name: Authorization
      description: Session token obtained from the RequestToken endpoint. Include as Token followed by the token value.
externalDocs:
  description: DataScope Select REST API Documentation
  url: https://developers.lseg.com/en/api-catalog/datascope-select/datascope-select-rest-api/documentation
