openapi: 3.2.0
info:
  title: Refinitiv Eikon LSEG DataScope Select REST Instrument Lists API
  description: REST API providing programmatic access to the DataScope Select platform for extracting global prices, corporate actions, reference data, historical data, cross-reference data, and entity data. Built on OData protocol, the API supports management of instrument lists, report templates, schedules, and on-demand extractions. Authentication tokens are valid for 24 hours.
  version: 1.0.0
  contact:
    name: LSEG Developer Support
    url: https://developers.lseg.com
  termsOfService: https://www.refinitiv.com/en/policies/terms-of-use
servers:
- url: https://selectapi.datascope.refinitiv.com/RestApi/v1
  description: Production Server
security:
- tokenAuth: []
tags:
- name: Instrument Lists
  description: Management of instrument lists for extractions
paths:
  /InstrumentLists:
    get:
      operationId: listInstrumentLists
      summary: List Instrument Lists
      description: Retrieves all instrument lists owned by the authenticated user. Instrument lists define the set of instruments for an extraction.
      tags:
      - Instrument Lists
      responses:
        '200':
          description: Successfully retrieved instrument lists
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    description: Array of instrument list definitions.
                    items:
                      $ref: '#/components/schemas/InstrumentList'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      operationId: createInstrumentList
      summary: Create an Instrument List
      description: Creates a new instrument list for use in extractions. The list specifies the instruments to be included in data extraction jobs.
      tags:
      - Instrument Lists
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InstrumentList'
      responses:
        '201':
          description: Instrument list created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InstrumentList'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Error:
      type: object
      description: Standard error response from the DataScope Select API.
      properties:
        error:
          type: object
          properties:
            code:
              type: string
              description: Machine-readable error code.
            message:
              type: string
              description: Human-readable error message.
    InstrumentList:
      type: object
      description: Definition of an instrument list for extractions.
      properties:
        ListId:
          type: string
          description: Unique identifier for the instrument list.
        Name:
          type: string
          description: Human-readable name for the list.
        InstrumentIdentifiers:
          type: array
          description: Array of instrument identifiers in the list.
          items:
            type: object
            properties:
              Identifier:
                type: string
                description: Instrument identifier value.
              IdentifierType:
                type: string
                description: Type of identifier.
  securitySchemes:
    tokenAuth:
      type: apiKey
      in: header
      name: Authorization
      description: Session token obtained from the RequestToken endpoint. Include as Token followed by the token value.
externalDocs:
  description: DataScope Select REST API Documentation
  url: https://developers.lseg.com/en/api-catalog/datascope-select/datascope-select-rest-api/documentation
