openapi: 3.1.0
info:
  title: Refinitiv Eikon Refinitiv Data Platform APIs Authentication Jobs API
  description: RESTful APIs providing access to Refinitiv's comprehensive financial data including pricing, ESG data, news, research, alternative data, and streaming services. The platform serves as the central hub for programmatic access to LSEG content. Uses OAuth 2.0 for authentication with access tokens obtained via the token endpoint.
  version: 1.0.0
  contact:
    name: LSEG Developer Support
    url: https://developers.lseg.com
  termsOfService: https://www.refinitiv.com/en/policies/terms-of-use
servers:
- url: https://api.refinitiv.com
  description: Production Server
security:
- bearerAuth: []
tags:
- name: Jobs
  description: Extraction job management and status monitoring
paths:
  /Extractions/ReportExtractions('{extractionId}')/FullExtractionNote:
    get:
      operationId: getExtractionNote
      summary: Retrieve Extraction Notes
      description: Returns the detailed processing notes for a completed extraction, including instrument validation results and any issues encountered.
      tags:
      - Jobs
      parameters:
      - name: extractionId
        in: path
        required: true
        description: Unique identifier of the extraction.
        schema:
          type: string
      responses:
        '200':
          description: Successfully retrieved extraction notes
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: string
                    description: Full extraction note content.
        '404':
          description: Extraction not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /Jobs/Jobs:
    get:
      operationId: listJobs
      summary: List Extraction Jobs
      description: Retrieves a list of extraction jobs and their current statuses. Allows monitoring the progress of asynchronous extractions.
      tags:
      - Jobs
      responses:
        '200':
          description: Successfully retrieved job list
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    description: Array of extraction job records.
                    items:
                      $ref: '#/components/schemas/ExtractionJob'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /Jobs/Jobs('{jobId}'):
    get:
      operationId: getJobStatus
      summary: Get Job Status
      description: Retrieves the status and details of a specific extraction job.
      tags:
      - Jobs
      parameters:
      - name: jobId
        in: path
        required: true
        description: Unique identifier of the extraction job.
        schema:
          type: string
      responses:
        '200':
          description: Successfully retrieved job status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExtractionJob'
        '404':
          description: Job not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      operationId: cancelJob
      summary: Cancel an Extraction Job
      description: Cancels a running extraction job. Only jobs that have not yet completed can be cancelled.
      tags:
      - Jobs
      parameters:
      - name: jobId
        in: path
        required: true
        description: Unique identifier of the extraction job to cancel.
        schema:
          type: string
      responses:
        '204':
          description: Job cancelled successfully
        '404':
          description: Job not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    ExtractionJob:
      type: object
      description: Status and metadata for an extraction job.
      properties:
        JobId:
          type: string
          description: Unique identifier for the job.
        Status:
          type: string
          description: Current status of the extraction job.
          enum:
          - InProgress
          - Completed
          - Failed
          - Cancelled
        StartedUtc:
          type: string
          format: date-time
          description: Timestamp when the job started.
        CompletedUtc:
          type: string
          format: date-time
          description: Timestamp when the job completed.
    Error:
      type: object
      description: Standard error response.
      properties:
        error:
          type: object
          properties:
            code:
              type: string
              description: Machine-readable error code.
            message:
              type: string
              description: Human-readable error message.
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 bearer token obtained from the authentication endpoint. Access tokens are valid for five minutes and must be refreshed using the refresh token.
externalDocs:
  description: Refinitiv Data Platform API Documentation
  url: https://developers.lseg.com/en/api-catalog/refinitiv-data-platform/refinitiv-data-platform-apis/documentation
