openapi: 3.1.0
info:
  title: Refinitiv Eikon Refinitiv Data Platform APIs Authentication Report Templates API
  description: RESTful APIs providing access to Refinitiv's comprehensive financial data including pricing, ESG data, news, research, alternative data, and streaming services. The platform serves as the central hub for programmatic access to LSEG content. Uses OAuth 2.0 for authentication with access tokens obtained via the token endpoint.
  version: 1.0.0
  contact:
    name: LSEG Developer Support
    url: https://developers.lseg.com
  termsOfService: https://www.refinitiv.com/en/policies/terms-of-use
servers:
- url: https://api.refinitiv.com
  description: Production Server
security:
- bearerAuth: []
tags:
- name: Report Templates
  description: Configuration of extraction report templates
paths:
  /ReportTemplates:
    get:
      operationId: listReportTemplates
      summary: List Report Templates
      description: Retrieves all report templates owned by the authenticated user. Report templates define the content type and fields for extractions.
      tags:
      - Report Templates
      responses:
        '200':
          description: Successfully retrieved report templates
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    description: Array of report template definitions.
                    items:
                      $ref: '#/components/schemas/ReportTemplate'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    ReportTemplate:
      type: object
      description: Definition of a report template for extractions.
      properties:
        ReportTemplateId:
          type: string
          description: Unique identifier for the report template.
        Name:
          type: string
          description: Human-readable name for the template.
        ContentType:
          type: string
          description: Type of content for the extraction such as EndOfDay or TermsAndConditions.
        ContentFieldNames:
          type: array
          description: List of field names included in the template.
          items:
            type: string
    Error:
      type: object
      description: Standard error response from the DataScope Select API.
      properties:
        error:
          type: object
          properties:
            code:
              type: string
              description: Machine-readable error code.
            message:
              type: string
              description: Human-readable error message.
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 bearer token obtained from the authentication endpoint. Access tokens are valid for five minutes and must be refreshed using the refresh token.
externalDocs:
  description: Refinitiv Data Platform API Documentation
  url: https://developers.lseg.com/en/api-catalog/refinitiv-data-platform/refinitiv-data-platform-apis/documentation
