openapi: 3.1.0
info:
  title: Refinitiv Eikon Refinitiv Data Platform APIs Authentication ESG API
  description: RESTful APIs providing access to Refinitiv's comprehensive financial data including pricing, ESG data, news, research, alternative data, and streaming services. The platform serves as the central hub for programmatic access to LSEG content. Uses OAuth 2.0 for authentication with access tokens obtained via the token endpoint.
  version: 1.0.0
  contact:
    name: LSEG Developer Support
    url: https://developers.lseg.com
  termsOfService: https://www.refinitiv.com/en/policies/terms-of-use
servers:
- url: https://api.refinitiv.com
  description: Production Server
security:
- bearerAuth: []
tags:
- name: ESG
  description: Environmental, Social, and Governance data and scores
paths:
  /data/environmental-social-governance/v2/views/scores-full:
    get:
      operationId: getEsgScoresFull
      summary: Retrieve Full ESG Scores
      description: Returns comprehensive Environmental, Social, and Governance scores and measures for specified instruments. Includes pillar scores, category scores, and detailed metrics covering over 400 ESG data points.
      tags:
      - ESG
      parameters:
      - name: universe
        in: query
        required: true
        description: Comma-separated list of instrument identifiers.
        schema:
          type: string
      responses:
        '200':
          description: Successfully retrieved ESG scores
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EsgScoresResponse'
        '400':
          description: Invalid request parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /data/environmental-social-governance/v2/views/measures-full:
    get:
      operationId: getEsgMeasuresFull
      summary: Retrieve Full ESG Measures
      description: Returns detailed ESG measures and underlying data points for specified instruments. Provides the raw metrics used to compute ESG scores across environmental, social, and governance categories.
      tags:
      - ESG
      parameters:
      - name: universe
        in: query
        required: true
        description: Comma-separated list of instrument identifiers.
        schema:
          type: string
      responses:
        '200':
          description: Successfully retrieved ESG measures
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EsgMeasuresResponse'
        '400':
          description: Invalid request parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    EsgMeasuresResponse:
      type: object
      description: Response containing detailed ESG measures for requested instruments.
      properties:
        data:
          type: array
          description: Array of ESG measure results by instrument.
          items:
            type: object
            properties:
              instrumentId:
                type: string
                description: Instrument identifier.
              measures:
                type: object
                description: Key-value pairs of ESG measure fields and their values.
                additionalProperties: true
    Error:
      type: object
      description: Standard error response from the Refinitiv Data Platform.
      properties:
        error:
          type: object
          properties:
            id:
              type: string
              description: Unique error identifier.
            code:
              type: string
              description: Machine-readable error code.
            message:
              type: string
              description: Human-readable error message.
            status:
              type: object
              description: HTTP status information.
              properties:
                code:
                  type: integer
                  description: HTTP status code.
                message:
                  type: string
                  description: HTTP status message.
    EsgScoresResponse:
      type: object
      description: Response containing ESG scores for requested instruments.
      properties:
        data:
          type: array
          description: Array of ESG score results by instrument.
          items:
            type: object
            properties:
              instrumentId:
                type: string
                description: Instrument identifier.
              esgScore:
                type: number
                description: Overall ESG combined score.
              environmentPillarScore:
                type: number
                description: Environmental pillar score.
              socialPillarScore:
                type: number
                description: Social pillar score.
              governancePillarScore:
                type: number
                description: Corporate governance pillar score.
              esgCombinedScore:
                type: number
                description: Combined ESG score including controversies.
              controversiesScore:
                type: number
                description: Score reflecting ESG controversies.
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 bearer token obtained from the authentication endpoint. Access tokens are valid for five minutes and must be refreshed using the refresh token.
externalDocs:
  description: Refinitiv Data Platform API Documentation
  url: https://developers.lseg.com/en/api-catalog/refinitiv-data-platform/refinitiv-data-platform-apis/documentation
