openapi: 3.2.0
info:
  title: Refinitiv Eikon LSEG Tick History REST Files API
  description: REST API providing programmatic access to historical tick-level market data through the DataScope Select platform. Supports on-demand and scheduled extractions of tick data, intraday bars, and end-of-day data across global markets. Shares the same base URL and authentication mechanism as the DataScope Select REST API.
  version: 1.0.0
  contact:
    name: LSEG Developer Support
    url: https://developers.lseg.com
  termsOfService: https://www.refinitiv.com/en/policies/terms-of-use
servers:
- url: https://selectapi.datascope.refinitiv.com/RestApi/v1
  description: Production Server
security:
- tokenAuth: []
tags:
- name: Files
  description: Extracted file management and download
paths:
  /Extractions/ExtractedFiles:
    get:
      operationId: listExtractedFiles
      summary: List Extracted Files
      description: Retrieves a list of files produced by completed tick history extractions. Files are available for download within the retention period.
      tags:
      - Files
      responses:
        '200':
          description: Successfully retrieved file list
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    description: Array of extracted file metadata.
                    items:
                      $ref: '#/components/schemas/ExtractedFile'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /Extractions/ExtractedFiles('{fileId}')/$value:
    get:
      operationId: downloadExtractedFile
      summary: Download an Extracted File
      description: Downloads the raw tick data file by its identifier. Supports gzip compression via the Accept-Encoding header.
      tags:
      - Files
      parameters:
      - name: fileId
        in: path
        required: true
        description: Unique identifier of the extracted file.
        schema:
          type: string
      responses:
        '200':
          description: Successfully downloaded file
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        '404':
          description: File not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Error:
      type: object
      description: Standard error response.
      properties:
        error:
          type: object
          properties:
            code:
              type: string
              description: Machine-readable error code.
            message:
              type: string
              description: Human-readable error message.
    ExtractedFile:
      type: object
      description: Metadata for a file produced by an extraction.
      properties:
        ExtractedFileId:
          type: string
          description: Unique identifier for the extracted file.
        FileName:
          type: string
          description: Name of the extracted file.
        FileType:
          type: string
          description: Type of file such as Full or Note.
        Size:
          type: integer
          description: File size in bytes.
        ReceivedDateUtc:
          type: string
          format: date-time
          description: Timestamp when the file was generated.
  securitySchemes:
    tokenAuth:
      type: apiKey
      in: header
      name: Authorization
      description: Session token obtained from the RequestToken endpoint.
externalDocs:
  description: Tick History REST API Documentation
  url: https://developers.lseg.com/en/api-catalog/refinitiv-tick-history/refinitiv-tick-history-rth-rest-api/documentation
