openapi: 3.2.0
info:
  title: Refinitiv Eikon LSEG Tick History REST Jobs API
  description: REST API providing programmatic access to historical tick-level market data through the DataScope Select platform. Supports on-demand and scheduled extractions of tick data, intraday bars, and end-of-day data across global markets. Shares the same base URL and authentication mechanism as the DataScope Select REST API.
  version: 1.0.0
  contact:
    name: LSEG Developer Support
    url: https://developers.lseg.com
  termsOfService: https://www.refinitiv.com/en/policies/terms-of-use
servers:
- url: https://selectapi.datascope.refinitiv.com/RestApi/v1
  description: Production Server
security:
- tokenAuth: []
tags:
- name: Jobs
  description: Extraction job management and status monitoring
paths:
  /Extractions/ReportExtractions('{extractionId}')/FullExtractionNote:
    get:
      operationId: getExtractionNote
      summary: Retrieve Extraction Notes
      description: Returns the detailed processing notes for a completed extraction, including instrument validation results and any issues encountered.
      tags:
      - Jobs
      parameters:
      - name: extractionId
        in: path
        required: true
        description: Unique identifier of the extraction.
        schema:
          type: string
      responses:
        '200':
          description: Successfully retrieved extraction notes
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: string
                    description: Full extraction note content.
        '404':
          description: Extraction not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /Jobs/Jobs:
    get:
      operationId: listJobs
      summary: List Extraction Jobs
      description: Retrieves a list of extraction jobs and their current statuses. Allows monitoring the progress of asynchronous extractions.
      tags:
      - Jobs
      responses:
        '200':
          description: Successfully retrieved job list
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    description: Array of extraction job records.
                    items:
                      $ref: '#/components/schemas/ExtractionJob'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /Jobs/Jobs('{jobId}'):
    get:
      operationId: getJobStatus
      summary: Get Job Status
      description: Retrieves the status and details of a specific extraction job.
      tags:
      - Jobs
      parameters:
      - name: jobId
        in: path
        required: true
        description: Unique identifier of the extraction job.
        schema:
          type: string
      responses:
        '200':
          description: Successfully retrieved job status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExtractionJob'
        '404':
          description: Job not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      operationId: cancelJob
      summary: Cancel an Extraction Job
      description: Cancels a running extraction job. Only jobs that have not yet completed can be cancelled.
      tags:
      - Jobs
      parameters:
      - name: jobId
        in: path
        required: true
        description: Unique identifier of the extraction job to cancel.
        schema:
          type: string
      responses:
        '204':
          description: Job cancelled successfully
        '404':
          description: Job not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    ExtractionJob:
      type: object
      description: Status and metadata for an extraction job.
      properties:
        JobId:
          type: string
          description: Unique identifier for the job.
        Status:
          type: string
          description: Current status of the extraction job.
          enum:
          - InProgress
          - Completed
          - Failed
          - Cancelled
        StartedUtc:
          type: string
          format: date-time
          description: Timestamp when the job started.
        CompletedUtc:
          type: string
          format: date-time
          description: Timestamp when the job completed.
    Error:
      type: object
      description: Standard error response.
      properties:
        error:
          type: object
          properties:
            code:
              type: string
              description: Machine-readable error code.
            message:
              type: string
              description: Human-readable error message.
  securitySchemes:
    tokenAuth:
      type: apiKey
      in: header
      name: Authorization
      description: Session token obtained from the RequestToken endpoint.
externalDocs:
  description: Tick History REST API Documentation
  url: https://developers.lseg.com/en/api-catalog/refinitiv-tick-history/refinitiv-tick-history-rth-rest-api/documentation
