openapi: 3.2.0
info:
  title: Refinitiv Eikon Refinitiv Data Platform Streaming Pricing API
  description: RESTful APIs providing access to Refinitiv's comprehensive financial data including pricing, ESG data, news, research, alternative data, and streaming services. The platform serves as the central hub for programmatic access to LSEG content. Uses OAuth 2.0 for authentication with access tokens obtained via the token endpoint.
  version: 1.0.0
  contact:
    name: LSEG Developer Support
    url: https://developers.lseg.com
  termsOfService: https://www.refinitiv.com/en/policies/terms-of-use
servers:
- url: https://api.refinitiv.com
  description: Production Server
security:
- bearerAuth: []
tags:
- name: Streaming Pricing
  description: Snapshot and streaming price data for financial instruments
paths:
  /data/pricing/snapshots/v1/{universe}:
    get:
      operationId: getPricingSnapshots
      summary: Retrieve Pricing Snapshots
      description: Returns the latest snapshot pricing data for one or more instruments. Provides real-time or delayed pricing depending on entitlements.
      tags:
      - Streaming Pricing
      parameters:
      - name: universe
        in: path
        required: true
        description: Comma-separated list of instrument identifiers (RICs).
        schema:
          type: string
      - name: fields
        in: query
        description: Comma-separated list of fields to include in the response.
        schema:
          type: string
      responses:
        '200':
          description: Successfully retrieved pricing snapshots
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PricingSnapshotResponse'
        '400':
          description: Invalid request parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Error:
      type: object
      description: Standard error response from the Refinitiv Data Platform.
      properties:
        error:
          type: object
          properties:
            id:
              type: string
              description: Unique error identifier.
            code:
              type: string
              description: Machine-readable error code.
            message:
              type: string
              description: Human-readable error message.
            status:
              type: object
              description: HTTP status information.
              properties:
                code:
                  type: integer
                  description: HTTP status code.
                message:
                  type: string
                  description: HTTP status message.
    PricingSnapshotResponse:
      type: object
      description: Response containing real-time or delayed pricing snapshots.
      properties:
        universe:
          type: array
          description: Array of instrument snapshot results.
          items:
            type: object
            properties:
              instrumentId:
                type: string
                description: Instrument identifier.
              ric:
                type: string
                description: Reuters Instrument Code.
              fields:
                type: object
                description: Key-value pairs of field names and their current values.
                additionalProperties: true
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 bearer token obtained from the authentication endpoint. Access tokens are valid for five minutes and must be refreshed using the refresh token.
externalDocs:
  description: Refinitiv Data Platform API Documentation
  url: https://developers.lseg.com/en/api-catalog/refinitiv-data-platform/refinitiv-data-platform-apis/documentation
