openapi: 3.1.0
info:
  title: Refinitiv Eikon Refinitiv Data Platform APIs Authentication On-Demand Extractions API
  description: RESTful APIs providing access to Refinitiv's comprehensive financial data including pricing, ESG data, news, research, alternative data, and streaming services. The platform serves as the central hub for programmatic access to LSEG content. Uses OAuth 2.0 for authentication with access tokens obtained via the token endpoint.
  version: 1.0.0
  contact:
    name: LSEG Developer Support
    url: https://developers.lseg.com
  termsOfService: https://www.refinitiv.com/en/policies/terms-of-use
servers:
- url: https://api.refinitiv.com
  description: Production Server
security:
- bearerAuth: []
tags:
- name: On-Demand Extractions
  description: Immediate tick data extraction requests
paths:
  /Extractions/ExtractRaw:
    post:
      operationId: extractTickHistoryRaw
      summary: Extract Tick History Data
      description: Executes an on-demand tick history extraction for specified instruments and date range. Supports tick data, intraday bars, market depth, and time-and-sales extraction types. For large extractions, returns a 202 response with a polling location.
      tags:
      - On-Demand Extractions
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TickHistoryExtractionRequest'
      responses:
        '200':
          description: Extraction completed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TickHistoryExtractionResponse'
        '202':
          description: Extraction accepted for asynchronous processing. Poll the Location header URL for results.
          headers:
            Location:
              description: URL to poll for extraction results.
              schema:
                type: string
        '400':
          description: Invalid extraction request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    TickHistoryExtractionResponse:
      type: object
      description: Response containing tick history extraction results.
      properties:
        JobId:
          type: string
          description: Unique identifier for the extraction job.
        Notes:
          type: array
          description: Processing notes from the extraction.
          items:
            type: string
        value:
          type: array
          description: Array of tick data records.
          items:
            type: object
            additionalProperties: true
    Error:
      type: object
      description: Standard error response.
      properties:
        error:
          type: object
          properties:
            code:
              type: string
              description: Machine-readable error code.
            message:
              type: string
              description: Human-readable error message.
    TickHistoryExtractionRequest:
      type: object
      description: Request body for tick history data extraction.
      required:
      - ExtractionRequest
      properties:
        ExtractionRequest:
          type: object
          properties:
            '@odata.type':
              type: string
              description: OData type for the extraction, such as TickHistoryTimeAndSalesExtractionRequest, TickHistoryIntradayBarsExtractionRequest, or TickHistoryRawExtractionRequest.
            ContentFieldNames:
              type: array
              description: List of tick data fields to extract such as Trade Price, Volume, Bid Price, and Ask Price.
              items:
                type: string
            IdentifierList:
              type: object
              description: Instruments for the tick history extraction.
              properties:
                '@odata.type':
                  type: string
                  description: OData type for the identifier list.
                InstrumentIdentifiers:
                  type: array
                  description: Array of instrument identifiers.
                  items:
                    type: object
                    properties:
                      Identifier:
                        type: string
                        description: Instrument identifier such as a RIC.
                      IdentifierType:
                        type: string
                        description: Type of identifier.
            Condition:
              type: object
              description: Extraction conditions including date range and data filtering parameters.
              properties:
                MessageTimeStampIn:
                  type: string
                  description: Timezone for message timestamps.
                  enum:
                  - LocalExchangeTime
                  - GmtUtc
                ReportDateRangeType:
                  type: string
                  description: Type of date range specification.
                  enum:
                  - Range
                  - Delta
                QueryStartDate:
                  type: string
                  format: date-time
                  description: Start date and time for the extraction.
                QueryEndDate:
                  type: string
                  format: date-time
                  description: End date and time for the extraction.
                DisplaySourceRIC:
                  type: boolean
                  description: Whether to include the source RIC in results.
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 bearer token obtained from the authentication endpoint. Access tokens are valid for five minutes and must be refreshed using the refresh token.
externalDocs:
  description: Refinitiv Data Platform API Documentation
  url: https://developers.lseg.com/en/api-catalog/refinitiv-data-platform/refinitiv-data-platform-apis/documentation
